/*
 * HulQ Color Palette
 *
 * light green: #5BD30B
 * green:       #15C215
 * dark green:  #0A5800
 * purple:      #772F9B
 * dark purple: #300060
 */

body {
  padding-top: 50px;
  background-color: #300060;
}

.navbar{
  background-color: #300060;
  border-color:  #300060;
}

.navbar .navbar-nav>li>a{
  color: white;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  transition: all 150ms linear;
}
.navbar .navbar-nav>li>a:hover{
  color: #5BD30B;
}

.jumbotron{
  background-color: #15C215;
  box-shadow:
    inset 0px 11px 8px -10px black,
    inset 0px -11px 8px -10px black; 
}

.jumbotron h1{
  color: #772F9B;
  color: white;
  margin-top: 0;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}
.jumbotron h1 small{
  color: #772F9B;
  color: #FFF0FE;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

.jumbotron .page-header{
  border-color: white;
  margin-top: 0;
}

.jumbotron p{
  color: white;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

.section .well{
  background-color: #772F9B;
  border: none;
  color: white;
}
.section .well li{
  margin: 5px 0 0 0;
}
.section .well li:before{
  content: '$ ';
}

h2{
  color: white;
  text-shadow: 0px 1px 2px black;
}

.footer{
  color: white;
  text-shadow: 0px 1px 2px black;
  text-align: right;
}
.footer a{
  color: white;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  transition: all 150ms linear;
}
