/*
 * HulQ Color Palette
 */

:root {
  --lightGreen:   #5BD30B;
  --normalGreen:  #15C215;
  --darkGreen:    #0A5800;
  --normalPurple: #772F9B;
  --darkPurple:   #300060;
}

body {
  padding-top: 50px;
  background-color: var(--darkPurple);
}

.navbar{
  background-color: var(--darkPurple);
  border-color:  var(--darkPurple);
}

.navbar .navbar-nav>li>a{
  color: white;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  transition: all 150ms linear;
}
.navbar .navbar-nav>li>a:hover{
  color: var(--lightGreen);
}

.jumbotron{
  background-color: var(--normalGreen);
  padding: 24px 0;
  margin-bottom: 0px;
}

.jumbotron h1{
  color: var(--normalPurple);
  color: white;
  margin-top: 0;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.5);
  text-align: center;
}
.jumbotron h1 small{
  color: var(--normalPurple);
  color: #FFF0FE;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

.jumbotron .page-header{
  border-color: white;
  margin-top: 0;
}

.jumbotron p{
  color: white;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  text-align: center;
}

.section .well{
  background-color: var(--normalPurple);
  border: none;
  color: white;
}
.section .well li{
  margin: 5px 0 0 0;
}
.section .well li:before{
  content: '$ ';
}
.section .well li .get-started-command{
  border: 1px solid white;
  padding: 2px;
}
.section .well li .get-started-comment{
  font-color: #F0F0F0;
  font-style: italic;
}

h2{
  color: white;
  text-shadow: 0px 1px 2px black;
}

.footer{
  color: white;
  text-shadow: 0px 1px 2px black;
  text-align: right;
}
.footer a{
  color: white;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  transition: all 150ms linear;
}
